{% extends "app/layout.html" %}

{% block content %}

<h2>FALE-CONOSCO</h2>
<h3>ligue para saber mais informações</h3>

<address>
    Empresa de Fabricação de peças<br />
    Rua Engenheiro Marco Covas, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    96969-2469
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">fixemichael.suporte@hotmail.com.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Matheustech@outlook.com</a>
</address>

{% endblock %}
